/* Estilização do jogo com CSS */

/* Keyframes para o funcionamento do button */
@keyframes bounce{
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	40%{
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	
	80%{
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* Estilização do corpo da página HTML */
body{
	 background: url("img/fundo.jpg") center center no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Definindo estilo para a div do Jogo da Velha */
#jogo {
	width: 610px;
	height: 740px;
	margin: auto;
	background-color: rgba(255, 203, 219, 0.45);
	border-radius: 25px;
}

/* Determinando estilo para o h3 */
h3{
	color: #ffffff;
	margin-left: 50px;
	text-shadow: black 0.1em 0.1em 0.2em;
}

/* Estilização o título principal do jogo */
#titulo{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
	background-color: #ff69b4;
	border-radius: 20px;
}

/* Definindo estilo para a classe da casa */
.casa {
	border: 3px solid;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 25px;
	background-color: #C89C7D;
	transform: translate(42%, 0%);
	
}

/* Personalizando o container do botão de Jogar */
.btn-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Personalizando botão de Jogar */
.btn {
  display: none;
  position: relative;
  height: 60px;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
  border: 4px solid white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: #ff69b4;
  color: white;
  border-radius: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/* Definindo ação após o clique no botão Jogar */
.btn:hover{
	animation: bounce 1s;
	opacity: 0.9;
}